body {
    background-color: white;
}

header {
    background-color: brown;
    width: auto;
    height: auto;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
footer {
    display: block;
    background-color: brown;
    margin-left: 150px;
    margin-right: 150px;
}

.nav {
    background-color: aqua;
}
.pages {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 7px;
    
}