body {
    background-color: gray;
}

header {
    background-color: brown;
    width: auto;
    height: auto;
    text-align: center;
}
img {
    max-width: 25%;
    max-height: 30%;
    box-shadow: 2px 2px 25px 10px;
    border-radius: 50%;
}
ul {
    list-style-type: none;
  }